.our-projects__heading {
    width: 57.6%;
    margin-left: 330px;
    margin-top: 95px;
}

.our-projects__heading h2 {
    margin: 0px;
    font-size: 32px;
    line-height: 38px;
    color: #4764b0
}

.our-projects__heading p {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    width: 100%;
    margin-left: -2px
}

.our-projects__heading:last-of-type {
    margin-left: 26.4%;
    margin-top: 36px;
    margin-bottom: 90px;
}