.company-offer__arrow {
    background-image: url('/src/images/arrows.png');
    width: 20px;
    height: 18px;
    display: flex;
    position: absolute;
    left: 58px;
    bottom: 108px
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .company-offer__arrow {
        left: 20px;
        bottom: 15px
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .company-offer__arrow {
        left: 20px;
        bottom: 15px
    }
}