.vertical-line {
    width: 2px;    
    position: absolute;
    background-image: url('/src/images/Rectangle_5.jpg');    
    z-index: 1;
}

.we-are-line {
    height: 1695px;
    top:-4px;
    left: 296px;
}
.inteco-now-vertical-line {
    height: 625px;
    left: 296px;
    top: 1937px;
}

.company-offer-vertical-line {
    height: 1046px;
    left: 296px;
    top: 3069px
}