.main-principles__main-block_develop {
    margin-left: 4%;
    margin-top: 43px;
    width: 90.75%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.main-principles__main-block_develop p {
    font-size: 18px;
    line-height: 26px;
    margin: 0px
}

.main-block_develop-image {
    background-image: url('/src/images/arrows.png');
    width: 20px;
    height: 18px;
    margin-top: 5px;
}