.company-offer__main-block_text {
    background-color: white;
    width: 470px;
    height: 866px;
    margin-left: -20px;
    z-index: 3;
}

.company-offer__main-block_text ul {
    margin-top: 46px;
    padding-left: 74px;
    list-style-position: outside;
}

.company-offer__main-block_text li {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    max-width: 335.6px;
}

.company-offer__main-block_text li::before {
    color: #4764b0;
    list-style-position: outside;
    content: "—";
    font-size: 16px;
    font-weight: 700;
    left: -10px;
    line-height: 18px; 
    position: relative;
    margin-left: -16px;
}
