@import "__left-block/we-are__left-block.scss";
@import "__right-block/we-are__right-block.scss";

.we-are {
    display: flex;
    width: 100%;
}

@media (max-width: 699px) {
    .we-are {
        flex-direction: column-reverse;
        
    }
}