.we-are__right-block {
    width: 920px;
    height: 570px;
    background-size: cover;
    background-image: url('/src/images/Layer\ 2.jpg');
    background-repeat: no-repeat;
    margin-left: -220px;
    z-index: 1;
}