@import "_image/company-offer__main-block_image.scss";
@import "_text/company-offer__main-block_text.scss";
.company-offer__main-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    margin-top: 35px;
}