@import "header/header.scss";
@import "content/content.scss";
@import "vertical-line/vertical-line.scss";
@import "horizontal-line/horizontal-line.scss";

body {
    margin: 0px;
}
.root {   
    margin: 0 auto;
    background: #FFFFFF; 
    max-width: 1250px;
    margin-top: 52px;
    padding-bottom: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .root {
        max-width: 1200px;  
        width: 95%;
        margin-top: 40px;
           
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .root {
        max-width: 768px;  
        width: 100%;
        margin-top: 10px;
           
    }
}
