@import "header/header.scss";
@import "content/content.scss";
@import "vertical-line/vertical-line.scss";
@import "horizontal-line/horizontal-line.scss";

body {
    margin: 0px;
}
.root {   
    margin: 0 auto;
    background: #FFFFFF; 
    width: 1250px;
    margin-top: 52px;
    padding-bottom: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .root {
        width: 930px;  
        margin-top: 40px;
        padding-bottom: 50px;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .root {
        width: 610px;   
        margin-top: 20px; 
        padding-bottom: 20px;         
    }
}

@media (max-width: 699px) {
    .root {
        width: 90.90%;   
        margin: 0 auto;
        margin-top: 0px; 
        padding-bottom: 0px;         
    }
}