.inteco-now__bottom-block_text {
    width: 37.6%;
    background-color: white;
    margin-top: 35px;
    z-index: 2;
    height: 500px;
}

.inteco-now__bottom-block_text ul {
    margin-top: 60px;
    padding-left: 84px;
    list-style-position: outside;
}

.inteco-now__bottom-block_text li {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    max-width: 369px;
}

.inteco-now__bottom-block_text li::before {
    color: #4764b0;
    list-style-position: outside;
    content: "—";
    font-size: 16px;
    font-weight: 700;
    left: -10px;
    line-height: 18px; 
    position: relative;
    margin-left: -16px;
}
