@import "_heading/inteco-now__top-block_heading.scss";
@import "_stats/inteco-now__top-block_stats.scss";

.inteco-now__top-block {
    display: flex;
    position: relative;
    width: 91%;
    margin: 0 auto;
}