.our-projects__slider_arrows {
    background-image: url('/src/images/arrows.png');
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 55px;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .our-projects__slider_arrows {
        width: 20px;
        height: 18px;
        right: 50px;
        bottom: 30px;
    }
}

@media (max-width: 699px) {
    .our-projects__slider_arrows {
        display: none;
    }
}