.inteco-now__bottom-block_image {
    width: 920px;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/images/layer 21.jpg');
    margin-left: -140px;
    z-index: 1;
}