@import "_develop/main-principles__main-block_develop.scss";
@import "_divider/main-principles__main-block_divider.scss";
@import "_text/main-principles__main-block_text.scss";
@import "_dots/main-principles__main-block_dots.scss";
.main-principles__main-block {
    width: 95.2%;
    margin-left: 4.8%;
    margin-top: 28px;
    height: 320px;
    background-color: white;
}

.text-hidden {
    display: none;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .main-principles__main-block {
        width: 90%;
        margin-left: 10%;
        margin-top: 10px;
        height: 240px;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .main-principles__main-block {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        height: 240px;
    }
}

@media (max-width: 699px) {
    .main-principles__main-block {
        margin-left: 6.67%;
        width: 93.33%;
        margin-top: 10px;
        height: 458px;
        padding-bottom: 30px;
    }
    
    
}