@import "_develop/main-principles__main-block_develop.scss";
@import "_divider/main-principles__main-block_divider.scss";
@import "_text/main-principles__main-block_text.scss";
.main-principles__main-block {
    width: 95.2%;
    margin-left: 4.8%;
    margin-top: 28px;
    height: 320px;
    background-color: white;
}