.main-principles__main-block_text {
    width: 90.75%;
    margin-left: 4%;
}

.main-principles__main-block_text p {
    margin: 0px;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .main-principles__main-block_text p {
        margin-top: 20px;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .main-principles__main-block_text {
        width: 96.72%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 699px) {
    .main-principles__main-block_text {
        width: 89.72%;
        margin: 0 auto;
        margin-top: 16px;
        margin-left: 7%
    }
    .main-principles__main-block_text p {
        margin-top: 0px;
    }

    .text-1 {
        display: none;
    }
}