.our-projects__slider_picture {
    width: 920px;
    height: 554px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    -webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s; 
    animation: ani 2s forwards;   
      
      @keyframes ani {
        0% {width: 0%;}
        100% {width: 920px;}
      }
}

.slide1 {
    background-image: url('/src/images/slider_1.jpg');
};

.slide2 {
    background-image: url('/src/images/slider_2.png');   
};

.slide3 {
    background-image: url('/src/images/slider_3.png');
};

.slide4 {
    background-image: url('/src/images/slider_4.png');
};

.slide5 {
    background-image: url('/src/images/slider_5.png');
};

.slide6 {
    background-image: url('/src/images/slider_6.png');
};

.slide7 {
    background-image: url('/src/images/slider_7.png');
};

.slide8 {
    background-image: url('/src/images/slider_8.png');
};

.slide9 {
    background-image: url('/src/images/slider_9.png');
};

.slide-hidden {
    display: none;
};

@media (min-width: 1020px) and (max-width: 1339px) {
    .our-projects__slider_picture {
        width: 60%;
        height: 400px;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .our-projects__slider_picture {
        width: 65%;
        height: 250px;
    }
}

@media (max-width: 699px) {
    .our-projects__slider_picture {
        background-image: url('/src/images/our-project_mobile.jpg');
        width: 93.33%;
        height: auto;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        animation: none;
    }
    .our-projects__slider_picture::before {
        content: "";
        display: block;
        padding-top: 60%; 
    }
}