.our-projects__slider_picture {
    background-image: url('/src/images/slider_1.jpg');
    width: 920px;
    height: 554px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}