.company-offer__main-block_image {
    width: 800px;
    height: 578px;
    margin-top: 52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/images/inteko.jpg');
    z-index: 2;
}