.company-offer__main-block_image {
    width: 800px;
    height: 578px;
    margin-top: 52px;
    background-repeat: no-repeat;
    background-size: cover;    
    z-index: 2;
}

.company-image_1 {
    background-image: url('/src/images/company_offer_1.jpg');
}

.company-image_2 {
    background-image: url('/src/images/company_offer_2.jpg');
}
.company-image_3 {
    background-image: url('/src/images/company_offer_3.jpg');
}
.company-image_4 {
    background-image: url('/src/images/company_offer_4.jpg');
}
.company-image_5 {
    background-image: url('/src/images/company_offer_5.jpg');
}
.company-image_6 {
    background-image: url('/src/images/company_offer_6.jpg');
}
.company-image_7 {
    background-image: url('/src/images/company_offer_7.jpg');
}
.company-image_8 {
    background-image: url('/src/images/company_offer_8.jpg');
}
.company-image_9 {
    background-image: url('/src/images/company_offer_9.jpg');
}
.company-image_10 {
    background-image: url('/src/images/company_offer_10.jpg');
}
.company-image_11 {
    background-image: url('/src/images/company_offer_11.jpg');
}

.company-image-hidden{
    display: none;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .company-offer__main-block_image {
        width: 440px;
        height: 402px;
        margin-top: 25px;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .company-offer__main-block_image {
        width: 65%;
        height: 400px;
        margin-top: 125px;
    }
}

@media (max-width: 699px) {
    .company-offer__main-block_image {
        width: 93.33%;
        height: auto;
        margin-top: 0px;
    }

    .company-offer__main-block_image::before {
        content: '';
        padding-top: 72.14%;
        display: block;
    }
}