.our-projects__slider_text {
    width: 470px;
    height: 390px;
    background-color: white;
    margin: 0px;
    margin-left: -140px;
    margin-top: 36px;
    z-index: 3;
}

.our-projects__slider_text h3 {
    margin: 0px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 56px;
}

.our-projects__slider_text p {
    margin: 0px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    width: 359px;
    text-align: left;
    height: 283px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1020px) and (max-width: 1339px) {
    .our-projects__slider_text {
        width: 45%;
        height: 300px;
        background-color: white;
        margin: 0px;
        margin-left: -5%;
        margin-top: 20px;
        z-index: 3;
    }

    .our-projects__slider_text h3 {
        margin: 0px;
        margin-left: 30px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 100;
        margin-top: 26px;
    }

    .our-projects__slider_text p {
        margin: 0px;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 13px;
        line-height: 24px;
        width: 359px;
        text-align: left;
        height: auto;
    }
}

@media (min-width: 700px) and (max-width: 1019px) {
    .our-projects__slider_text {
        width: 55%;
        height: 230px;
        background-color: white;
        margin: 0px;
        margin-left: -15%;
        margin-top: 10px;
    }
    .our-projects__slider_text h3 {
        margin: 0px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    .our-projects__slider_text p {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
        width: 90%;
        text-align: left;
        height: auto;
    }
}

@media (max-width: 699px) {
    .our-projects__slider_text {
        width: 93.33%;
        height: auto;
        margin: 0px;
        margin-left: 6.67%;
        margin-top: -30px;
    }

    .our-projects__slider_text h3 {
        margin: 0px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 23px;
    }

    .our-projects__slider_text p {
        margin: 0 auto;
        margin-top: 9px;
        font-size: 12px;
        line-height: 18px;
        width: 85.71%;
        text-align: left;
        height: auto;
        padding-bottom: 20px;
    }
}