@import "__top-block/inteco-now__top-block.scss";
@import "__bottom-block/inteco-now__bottom-block.scss";
.inteco-now {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.inteco-now h3 {
    font-size: 32px;
    line-height: 38px;
    color: #4764b0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 60px;
    margin-bottom: 0px;
}

@media (min-width: 700px) and (max-width: 1019px) {
    .inteco-now {
        margin-top: 10px;
    }
}

@media (max-width: 699px) {
    .inteco-now {
        margin-top: 58px;
    }
    .inteco-now h3 {
        font-size: 24px;        
        line-height: 28px;
        margin-top: 10px;
        margin-left: 6%;
        margin-bottom: 0px;
    }
}