.inteco-now__top-block_stats {
    width: 21%;
    margin-top: 55px;
    margin-left: 80px;
}

.inteco-now__top-block_stats h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.inteco-now__top-block_stats p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    margin: 0px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.inteco-now__top-block_stats span {
    font-size: 48px;
    line-height: 42px;
}

.inteco-now__top-block_stats:last-of-type {
    margin-left: 69px;
}